<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=1120" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="LazyMas.com: Dedicated to making your TnT Carnival experience as simple as possible." />
	<meta name="keywords" content="Trinidad Carnival, Carnival 2013, Carnival, TnT Carnival, LazyMas, lazymas.com, Trinidad" />
	<meta name="author" content="Kiel H. Byrne, Trena DeLandro" />

	{% load static from staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />	

	<script language="Javascript" type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
	{% block scripts %}{% endblock %}

	<link rel="Stylesheet" type="text/css" href="{% static 'css/_base.css' %}"></link>
	{% block style %}{% endblock %}
</head>

<body>
{% block page %}
	{% block header %}{% endblock %}

	{% block content %}{% endblock %}
	
	{% block footer %}{% endblock %}
	{% block endScripts %}{% endblock %}
{% endblock %}
</body>
</html>
