{% extends "home.html" %}
{% load static from staticfiles %}

{% block content %}
<div id="content">

<form id="frm" name="frm" action="/searchresults.html" method="get">
<input name="src" value="index" type="hidden">

<fieldset>

<div id="destinationSearch">

<h2>Search Hotels</h2>
<h4><label for="destination">Destination/Hotel Name:</label></h4>
<!-- begin searchbox_destination_input.inc -->

	<input aria-haspopup="true" aria-autocomplete="list" role="textbox" class="text wide ui-autocomplete-input" results="9" autosave="booking.com"  autocomplete="off" placeholder="e.g. city, region, district or specific hotel" id="destination" name="ss" title="e.g. city, region, district or specific hotel" type="search" />
<!-- end searchbox_destination_input.inc -->
</div>

<div id="inout" class="">
	<div class="dateerrors"></div>
	<div id="homein" > <img src="http://e.ultrabstatic.com/static/img/transparent.png" class="placeholder" alt=""><h3 class="firsth3">Check-in Date</h3><a onclick="booking.env.trackExperiment('stopped');" class="calendar inlineJsRequired calendarLink" href="#checkin_year_month" rel="checkin_year_month">
	<img src="http://e.ultrabstatic.com/static/img/transparent.png" alt="calendar" title="Open calendar to pick your dates" class="icon_calendar use_sprites" align="absbottom" height="18" width="21"></a>
	<select id="checkin_day" class="checkin_day" name="checkin_monthday"><option class="day prompt" selected="selected" value="0">Day</option>
	<option class="b_monthdays" value="1">1</option>
	<option class="b_monthdays" value="2">2</option>
	<option class="b_monthdays" value="3">3</option>
	<option class="b_monthdays" value="4">4</option>
	<option class="b_monthdays" value="5">5</option>
	<option class="b_monthdays" value="6">6</option>
	<option class="b_monthdays" value="7">7</option>
	<option class="b_monthdays" value="8">8</option>
	<option class="b_monthdays" value="9">9</option>
	<option class="b_monthdays" value="10">10</option>
	<option class="b_monthdays" value="11">11</option>
	<option class="b_monthdays" value="12">12</option>
	<option class="b_monthdays" value="13">13</option>
	<option class="b_monthdays" value="14">14</option>
	<option class="b_monthdays" value="15">15</option>
	<option class="b_monthdays" value="16">16</option>
	<option class="b_monthdays" value="17">17</option>
	<option class="b_monthdays" value="18">18</option>
	<option class="b_monthdays" value="19">19</option>
	<option class="b_monthdays" value="20">20</option>
	<option class="b_monthdays" value="21">21</option>
	<option class="b_monthdays" value="22">22</option>
	<option class="b_monthdays" value="23">23</option>
	<option class="b_monthdays" value="24">24</option>
	<option class="b_monthdays" value="25">25</option>
	<option class="b_monthdays" value="26">26</option>
	<option class="b_monthdays" value="27">27</option>
	<option class="b_monthdays" value="28">28</option>
	<option class="b_monthdays" value="29">29</option>
	<option class="b_monthdays" value="30">30</option>
	<option class="b_monthdays" value="31">31</option>
	</select>
	<select id="checkin_year_month" class="checkin_year_month" name="checkin_year_month" onclick="booking.env.trackExperiment('stopped');"><option class="month prompt" selected="selected" value="0">Month</option>
		<option class="b_months" value="2012-6">June '12 </option>
		<option class="b_months" value="2012-7">July '12 </option>
		<option class="b_months" value="2012-8">August '12 </option>
		<option class="b_months" value="2012-9">September '12 </option>
		<option class="b_months" value="2012-10">October '12 </option>
		<option class="b_months" value="2012-11">November '12 </option>
		<option class="b_months" value="2012-12">December '12 </option>
		<option class="b_months" value="2013-1">January '13 </option>
		<option class="b_months" value="2013-2">February '13 </option>
		<option class="b_months" value="2013-3">March '13 </option>
		<option class="b_months" value="2013-4">April '13 </option>
		<option class="b_months" value="2013-5">May '13 </option>
	</select>

</div>
<div id="homeout">
<img src="http://e.ultrabstatic.com/static/img/transparent.png" class="placeholder" alt="">
<h3 class="firsth3">Check-out Date</h3>
<a onclick="booking.env.trackExperiment('stopped');" class="calendar inlineJsRequired calendarLink" href="#checkout_year_month" rel="checkout_year_month">
<img src="http://e.ultrabstatic.com/static/img/transparent.png" alt="calendar" title="Open calendar to pick your dates" class="icon_calendar use_sprites" align="absbottom" height="18" width="21">

</a>




<select id="checkout_monthday" name="checkout_monthday" class="checkout_monthday">

<option class="day prompt" selected="selected" value="0">Day</option>


<option class="b_monthdays" value="1">1</option>

<option class="b_monthdays" value="2">2</option>

<option class="b_monthdays" value="3">3</option>

<option class="b_monthdays" value="4">4</option>

<option class="b_monthdays" value="5">5</option>

<option class="b_monthdays" value="6">6</option>

<option class="b_monthdays" value="7">7</option>

<option class="b_monthdays" value="8">8</option>

<option class="b_monthdays" value="9">9</option>

<option class="b_monthdays" value="10">10</option>

<option class="b_monthdays" value="11">11</option>

<option class="b_monthdays" value="12">12</option>

<option class="b_monthdays" value="13">13</option>

<option class="b_monthdays" value="14">14</option>

<option class="b_monthdays" value="15">15</option>

<option class="b_monthdays" value="16">16</option>

<option class="b_monthdays" value="17">17</option>

<option class="b_monthdays" value="18">18</option>

<option class="b_monthdays" value="19">19</option>

<option class="b_monthdays" value="20">20</option>

<option class="b_monthdays" value="21">21</option>

<option class="b_monthdays" value="22">22</option>

<option class="b_monthdays" value="23">23</option>

<option class="b_monthdays" value="24">24</option>

<option class="b_monthdays" value="25">25</option>

<option class="b_monthdays" value="26">26</option>

<option class="b_monthdays" value="27">27</option>

<option class="b_monthdays" value="28">28</option>

<option class="b_monthdays" value="29">29</option>

<option class="b_monthdays" value="30">30</option>

<option class="b_monthdays" value="31">31</option>

</select>



<select id="checkout_year_month" class="checkout_year_month" name="checkout_year_month"  onclick="booking.env.trackExperiment('stopped');">

<option class="month prompt" selected="selected" value="0">Month</option>


<option class="b_months" value="2012-6">

June '12 

</option>

<option class="b_months" value="2012-7">

July '12 

</option>

<option class="b_months" value="2012-8">

August '12 

</option>

<option class="b_months" value="2012-9">

September '12 

</option>

<option class="b_months" value="2012-10">

October '12 

</option>

<option class="b_months" value="2012-11">

November '12 

</option>

<option class="b_months" value="2012-12">

December '12 

</option>

<option class="b_months" value="2013-1">

January '13 

</option>

<option class="b_months" value="2013-2">

February '13 

</option>

<option class="b_months" value="2013-3">

March '13 

</option>

<option class="b_months" value="2013-4">

April '13 

</option>

<option class="b_months" value="2013-5">

May '13 

</option>

</select>


</div>
<div class="avail">


<input id="availcheck" class="availcheck_search" name="idf" value="on" type="checkbox">
<label id="labfor" for="availcheck"> 
I don't have specific dates yet
</label>


</div>

</div>
<!-- end datebox.inc -->




<!-- start of define_group.inc -->
<!-- start of default_group_new.inc -->






<div id="default_group_new_block">
<span>
<h4>Rooms</h4>
<select id="nr_rooms">
<option value="1" selected="selected">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</span>
<span>
<h4>adults</h4>
<select id="nr_adults">
<option value="1">1</option>
<option value="2" selected="selected">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</span>
<span>
<h4>children</h4>
<select id="nr_children">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</span>
<div class="clear"></div>
</div>

<!-- end of default_group_new.inc -->

<div id="define_group">


<h3 >Rooms</h3>
<div id="group_definition" class="default_group">
<table  class="hidelinks">
<thead>
<tr>
<th width="50"></th>
<th width="50">adults</th>
<th class="b" width="50">children</th>
<th class="b" width="250"><span id="ages_header" >age(s) of children at check-out</span></th>
<th width="50"></th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="5"><a href="#">Add another room</a></td>
</tr>
</tfoot>
<tbody>

<tr>
<th>Room&nbsp;1:&nbsp;</th>
<td>
<select name="group_adults">
<option value="1">1</option>
<option value="2" selected="selected">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</td>
<td class="b">
<select name="group_children">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</td>
<td class="b"></td>
<td></td>
</tr>

</tbody>
</table>
</div>
</div>
<!-- end of define_group.inc -->


<div class="but">


<button onclick="return checktextinputss()" class="bigbluebutton" type="submit" title="Search Hotels">

Search 

</button>
</div>
</fieldset>
</form>
</div>
{% endblock %}