{% load static from staticfiles %}
<div id="footer">
<table id="foot"><tr><td>
<a href="mailto:webMail@LazyMas.com"> LazyMas.com © 2012 </a> | Follow <a target="_blank" href="http://www.twitter.com/lazyMas">@LazyMas.</a></td>
<td>
Valid: <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional" class="valid">XHTML</a>  |  <a href="#" title="This stylesheet validates as CSS level 3.0" class="valid" onclick="return false">CSS</a></td></tr>
</table>
</div>